<%- include('partials/header') %>

    <main>
        <section>
            <h2 class="section-title">All Destinations</h2>
            <div class="grid">
                <% destinations.forEach(item=> { %>
                    <div class="card">
                        <img src="<%= item.image %>" alt="<%= item.name %>">
                        <div class="card-content">
                            <h3 class="card-title">
                                <%= item.name %>
                            </h3>
                            <p class="card-price">$<%= item.price %> / person</p>
                            <p style="margin-bottom: 1rem;">
                                <%= item.location %>
                            </p>
                            <p style="margin-bottom: 1.5rem;">
                                <%= item.description %>
                            </p>
                            <a href="/book/<%= item._id %>" class="card-btn">Plan This Trip</a>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>